APP_PORT=8081

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=kali_invoices
DB_SSLMODE=disable

RABBITMQ_ENABLED=false
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=kali.invoice
RABBITMQ_ROUTING_KEY=invoice.status.changed
