
services:
  api:
    build:
      context: .
      target: prod # Usa la etapa prod del Dockerfile
    container_name: kali-invoice-prod
    env_file: .env
    ports:
      - "${APP_PORT}:${APP_PORT}"
    restart: always
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: kali-invoice-db-prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - kali_invoice_data:/var/lib/postgresql/data
    restart: always

volumes:
  kali_invoice_data:
