name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: latest

      - name: Run Linter
        run: golangci-lint run

      - name: Run Tests
        run: go test ./... -cover
